# python
*.pyc
_pycache_/

# jupyter notebooks
.ipynb_checkpoints/

# env

env/
venv/
.pytest_cache/
.mypy_cache/

# vscode
.vscode/

# assets
/assets/curtained_image/
/assets/ground_truth_image/
/assets/readme.txt